.form-header {
  display: flex;
  font-size: 14px;
  margin: 0 0 15px 0;
  color: #2C2E31;

  padding-right: 14px;
  margin-right: 14px;
  padding-bottom: 4px;
  border-bottom: 1px solid #dedede;
}

.form-header p {
  display: flex;
  flex-grow: 1;
  align-content: center;
  font-weight: 600;
}

.form-header div {
  display: flex;
  flex-grow: 1;
  align-content: center;
  justify-content: flex-end;
}

.form-sub-header {
  display: flex;
  margin-bottom: 8px;
}

.form-sub-header p {
  display: flex;
  align-items: center;
  height: 18px;
  margin-right: 4px;
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  margin-right: 14px;
  margin-bottom: 12px;
}

.form-field label {
  display: flex;
  margin-bottom: 4px;
  align-items: center;

  font-size: 10px;
  color: #404246;
}

.form-field input {
  padding: 2px 4px;
  height: 20px;
}

.form-field .invalid {
  border-color: #CF024E;
}

.form-field-right {
  display: flex;
  flex-direction: row;
  width: auto;
}

.form-field-right label {
  display: flex;
  align-items: center;
}

.form-field-right .label {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 4px;

  font-size: 10px;
  color: #404246;
}

.form-field-right input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 12px;
  width: 12px;
  margin-bottom: 8px;
}

.form-field__help {
  margin-left: 4px;
}
