{
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/typescript",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "chrome": true,
    "jsQR": true
  }
}
