.viewer__column {
  display: flex;
  flex-direction: column;
}

.viewer__column hr {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid #dedede;
  margin-right: 48px;
}

.viewer__name {
  display: flex;
  font-weight: 600;
  margin: 4px 48px 0 0;
  padding-bottom: 4px;
  font-size: 24px;
}

.viewer__name span {
  display: flex;
  flex-grow: 1;
}

.viewer__headerRow {
  font-weight: 600;
  margin: 20px 48px 12px 0;
  padding-bottom: 4px;
  border-bottom: 1px solid #dedede;
}

.viewer__row {
  display: flex;
}

.viewer__label {
  display: flex;
  align-items: center;
  height: 18px;
  width: 150px;
}

.viewer__value {
  display: flex;
  align-items: center;
  height: 18px;
}

.viewer__destructiveActions {
  display: flex;
  height: 28px;
  border-top: 1px solid #dedede;
  margin-top: 24px;
  padding-top: 16px;
}

.viewer__destructiveActions button {
  padding: 0 16px;
  height: 28px;
  justify-content: center;

  background-color: red;
  color: white;

  text-align: center;
  font-weight: 500;
  line-height: 28px;
  font-size: 14px;

  border: 0;
}

.viewer__destructiveActions button:hover {
    box-shadow: none;
}

.viewer__destructiveActions button:focus {
    box-shadow: none;
}

.viewer__destructiveActions button:disabled {
    opacity: 0.3;
}

.viewer__destructiveActions button:not([disabled]):hover {
  background-color: rgb(201, 0, 0);
  color: white;
}

.viewer__destructiveActions button.materialButtons__delete {
  background-color: red;
  color: white;
  display: flex;
  margin-right: 20px;
}

.viewer__destructiveActions .materialButtons__delete__icon {
  background-color: red;
  color: white;
  align-self: center;
}

.viewer__destructiveActions button:not([disabled]):hover .materialButtons__delete__icon {
  background-color: rgb(201, 0, 0);
  color: white;
}

.viewer__syncOn {
  color: #2541B2;
  height: 30px !important;
  width: 30px !important;
}

.viewer__syncOff {
  color: black;
  height: 30px !important;
  width: 30px !important;
}
