.App {
  height: 600px;
}

.App .header {
  background-color: #001f23;
  color: white;
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  padding: 20px;
  width: 450px;
}

.App .header div {
  display: flex;
  justify-content: center;
}

.App .header span {
  display: flex;
  justify-content: center;
  width: 100%;
}

.App .header__logo {
  display: flex;
  height: 43px;
  width: 50px;
}

.App .header__title {
  font-size: 1.5em;
  height: 43px;
  line-height: 43px;
  margin-left: 15px;
  margin: 0;
}

.App-intro p {
  margin: 15px 0;
}

.App-intro .icon {
  color: #001f23;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.App-intro {
  display: block;
  font-size: 14px;
}

.App-intro::after {
  display: block;
  content: "";
  clear: both;
}

.App-field {
  display: block;
}

.App-field label {
  display: inline-block;
  width: 140px;
}

.App-field input {
  display: inline-block;
  width: 150px;
}

.App-field p {
  font-weight: 600;
  margin: 10px 0;
}

.App-grid {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.App-grid.osx {
  height: 500px;
  overflow-y: scroll;
}

.App-grid .col-contents {
  width: 300px;
}

.App-grid .col-materials {
  width: 150px;
}
