.App {
  text-align: center;
}

.App-logo {
  height: 43px;
  float: left;
  width: 50px;
}

.App-header {
  background-color: #222;
  height: 60px;
  width: 250px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  height: 43px;
  margin: 0;
  padding-top: 12px;
}

.App-intro {
  font-size: large;
}

.App-field {
  display: inline-block;
}
