.App {
  /* width: 450px; */
  /* text-align: center; */
}

.App-logo {
  height: 43px;
  float: left;
  width: 50px;
  margin-left: 50px;
}

.App-header {
  background-color: #222;
  height: 60px;
  width: 450px;
  padding: 20px;
  color: white;
}

.App-intro .icon {
  color: #666;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.App-title {
  font-size: 1.5em;
  height: 43px;
  margin: 0;
  margin-left: 15px;
  padding-top: 12px;
  float: left;
}

.App-intro {
  font-size: 14px;
}

.App-field {
  display: inline-block;
}

.App-field label {
  display: inline-block;
  width: 140px;
}

.App-field input {
  display: inline-block;
  width: 150px;
}

.App-buttons {

}

.App-materials {
  border-right: #efefef 1px solid;
}

.App-materials .icon{
  display: inline-block;
  height: 18px;
  width: 18px;
}

.App-error {
  color: red;
}

.App-grid {
  display: flex;
  min-height: 500px;
  padding: 0 10px;
  justify-content: space-between;
}

.App-grid .col-contents{
  width: 300px;
}

.App-grid .col-materials{
  width: 150px;
}
