.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 60px;
  padding: 20px;

  background-color: #001f23;
  color: white;
}

.header__headline {
  display: flex;
  justify-content: center;
}

.header_subline {
  display: flex;
  justify-content: center;
}

.header__logo {
  display: flex;
  height: 43px;
  width: 50px;
}

.header__title {
  font-size: 1.5em;
  height: 43px;
  line-height: 43px;
  margin: 0 6px 0 0;
}
