.materialList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-right: #efefef 1px solid;
}

.materialList h3 {
  margin: 16px 16px 8px 16px;
}

.materialList__search {
  display: flex;
  margin: 0 16px 24px;
}

.materialList__search__input {
  display: flex;
  padding: 2px 4px;
}

.materialList__container {
  display: flex;
  flex-direction: column;
}

.materialList__item {
  display: flex;
  height: 30px;
  padding: 0 16px;
}

.materialList__item:hover {
  background-color: #efefef;
}

.materialList__item:last-child {
  margin-bottom: 16px;
}

.materialList__itemName {
  display: flex;
  align-items: center;
  flex-grow: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  line-height: 18px;
}

.materialList__itemMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}

.materialList__create,
.materialList__empty {
  margin: 0 16px;
}

.materialList__create span {
  color: blue;
}
