.MaterialListItem-root {
  display: flex;
  margin-bottom: 4px;
}

.MaterialListItem-root:last-child {
  margin-bottom: 0;
}

.MaterialListItem-name {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-right: 10px;
}

.MaterialListItem-menu {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

