.MaterialEditor-section {
  display: block;
  font-size: 14px;
}

.MaterialEditor-section::after {
  display: block;
  content: "";
  clear: both;
}

.MaterialEditor-section p {
  font-weight: 600;
  float: left;
  margin: 15px 0;
  width: 250px;
}

.MaterialEditor-buttonBar label {
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
}

.MaterialEditor-buttonBar .icon {
  box-sizing: border-box;
  color: #001f23;
  height: 18px;
  width: 18px;
}
