.materialList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-right: #efefef 1px solid;
}

.materialList h3 {
  margin: 16px 16px 8px 16px;
}

.materialList__search {
  display: flex;
  margin: 0 16px 24px;
}

.materialList__search__input {
  display: flex;
  padding: 2px 4px;
}

.materialList__search__clear {
  cursor: pointer;
}

.materialList__container {
  display: flex;
  flex-direction: column;
}

.materialList__item {
  display: flex;
  height: 30px;
  padding: 0 16px;
}

.materialList__item:hover {
  background-color: #efefef;
}

.materialList__item:hover .materialList__iconHover {
  opacity: 1;
}

.materialList__item:last-child {
  margin-bottom: 16px;
}

.materialList__item__selected {
  background-color: #dedede;
}

.materialList__item__selected:hover {
  background-color: #dedede;
}

.materialList__itemName {
  display: flex;
  align-items: center;
  flex-grow: 1;

  max-width: 159px;
  line-height: 18px;
}

.materialList__itemName__ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.materialList__itemMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}

.materialList__iconHover {
  opacity: 0;
  margin-left: 4px;
  cursor: pointer;
}

.materialList__iconHover:hover {
  color: blue;
}

.materialList__create,
.materialList__empty {
  margin: 0 16px;
}

.materialList__create span {
  color: blue;
  cursor: pointer;
}
