.message-box__container {
  display: flex;
  background-color: #BCD3F4;
  border-top: 1px solid #000;
  bottom: 0;
  font-size: 16px;
  left: 0;
  line-height: 24px;
  margin: 0;
  position: absolute;
  width: 100%;
}

.message-box__message {
  display: flex;
  flex-grow: 2;
  padding: 20px 0 20px 20px;
}

.message-box__close {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 20px 20px 20px 0;
}
