.Status {
  display: flex;
  align-items: center;
}

.Status-green .icon-button {
  color: rgb(55, 253, 55);
}

.Status-red .icon-button {
  color: rgb(250, 250, 114);
}

.Status-gray .icon-button {
  color: rgb(202, 202, 202);
}
